import turtle
wn = turtle.Screen()
wn.setup(width=400, height=400)
xyi = turtle.Turtle() # Присвоение "Красного" имени черепахи

def curve(): # Способ построения кривой
    for i in range(200): # Чтобы нарисовать кривую шаг за шагом
        xyi.right(1)
        xyi.forward(1)

def heart():  # Способ нарисовать полное сердце
    xyi.fillcolor('purple')
    xyi.begin_fill()
    xyi.left(90)
    xyi.forward(100)
    curve() # Left Curve
    xyi.left(15)
    xyi.forward(100)
    #
    xyi.left(70)
    curve()
    xyi.left(65)
    xyi.forward(17)
    curve()
    xyi.left(20)
    xyi.end_fill()

heart()
xyi.ht() #  хз че
turtle.done()
